@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --blue: #60797f;
  --green: #8e9680;
  --brown: #866136;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background: url("./the-new-york-public-library-yEauzeZU6xo-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--blue);
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

header {
  padding: 0 2rem;
  width: 100%;
}

header h2 {
  font-size: 5rem;
}

header p {
  font-size: 2rem;
  color: var(--brown);
}

.wrapper {
  width: 100%;
  flex: 1;
  padding: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {
  flex: 1;
  width: 100%;
  margin: 1rem 2rem;
}

select {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  background: var(--blue);
  border: 2px solid var(--green);
  outline: none;
}

#city-state {
  font-size: 1.5rem;
}

option {
  background: var(--green);
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.output {
  background: rgba(0, 0, 0, 0.8);
  margin: 1rem 2rem;
  padding: 1rem 0 1rem 0;
  border: 2px solid var(--green);
  flex: 2;
  border-radius: 5rem;
  opacity: 0;
  animation: reveal 2s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.output h2 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

aside {
  text-align: end;
  margin-top: 4rem;
  margin-right: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  font-style: italic;
}

aside span {
  color: var(--brown);
  font-size: 1.5rem;
  margin: 0 1rem;
}

.output h3 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.output p {
  font-size: 2.5rem;
  color: var(--brown);
}

footer {
  width: 100%;
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.65);
}

footer p {
  font-size: 1.5rem;
  color: var(--green);
}

footer a {
  font-size: 1.5rem;
  color: var(--brown);
  font-weight: 700;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    padding: 1rem;
  }
  form {
    margin: auto;
  }
  .output {
    margin: auto;
    width: 100%;
  }
  footer {
    padding: 5rem 2rem;
  }
}
